#map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.route-group-container .route-group {
	display: inline-block;
	margin-top: 10px;
}

.route-group a,
.route-group a:hover {
	display: inline-block;
	border-bottom: none;
	border-right: 1px solid #ccc;
}

.route-group a:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.route-group a:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: none;
}

.route-group.red a.active,
.route-group.red a:hover {
	background-color: #D12229;
}

.route-group.green a.active,
.route-group.green a:hover {
	background-color: #71BE43;
}

.route-group.blue a.active,
.route-group.blue a:hover {
	background-color: #0067AB;
}

.route-group.cyan a.active,
.route-group.cyan a:hover {
	background-color: #00A8D4;
}

#list {
	position: absolute;
	width: 300px;
	background: rgba(0,0,0,0);
	z-index: 100;
	top: 40px;
	bottom: 40px;
	right: 40px;
	overflow: hidden;
	box-shadow: 0 0 10px black;
}

#list ul {
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

#list li {
	list-style: none;
	background: white;
	padding: 10px;
	font-family: sans-serif;
	border-top: 1px solid grey;
	border-bottom: 1px solid lightgrey;
	color: rgba(0, 0, 0, 0.7);
	position: relative;
	background-color: #3a8ece;
	font-size: 12px;
	min-height: 30px;
	cursor: pointer;
}

#list li:nth-child(1) {
	background-color: #ff3c15;
}

#list li:nth-child(2) {
	background-color: #ff8f17;
}

#list li:nth-child(3) {
	background-color: #e2e929;
}

#list li:nth-child(4) {
	background-color: #58cf41;
}

#list li:nth-child(5) {
	background-color: #43c096;
}

#list li .index {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.4);
	right: 10px;
	bottom: 10px;
	line-height: 30px;
}

#list li .nafn {
	font-weight: bold;
	font-size: 14px;
}

#list li .distance {
	display: block;
	font-style: italic;
}

#list li .lausplass {
	display: block;
}

#list li .heimilisfang {
	display: block;
}

#list li .simi {
	display: block;
}

#list li .netfang {
	display: block;
}

#list li .heimasida {
	display: block;
}

